html {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.nav-page {
    background-color: rgb(63, 63, 242);
    border: 1px solid black;
    position: relative;
}

.nav-page h1 {
    margin: 20px;
    color: white;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid blue;
    transition-duration: 0.4s;
    transition: 00.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #2b4bea; 
    color: white;
}

.content-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
    width: 300px;
}

.product-container h4 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid blue;
    transition: 00.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #2b4bea; 
    color: white;
}